DEBUG=false
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_PORT=
PROWLARR_HOST=http://prowlarr:9696 # must include http:// or https://
PROWLARR_APIKEY=
INTERVAL_SCRAPE= # in seconds
