# to be used only in development mode
# DEBUG=true has NO web-ui
DEBUG=false

# database connection can be setup either with POSTGRES_* env variables
# if these variables are not provided, defaults will be used (see compose.yml)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_PORT=

# or by database connection (see compose.yml)
# this options is desired when db already exists,
# otherwise postgres container won't initialize properly
# DATABASE_URI=postgresql+asyncpg://[db-user]:[db-password]@[db-host]:[db-port]/[db-name]

PROWLARR_HOST=http://prowlarr-host:9696 # must include http:// or https://
PROWLARR_APIKEY=

# (optional) some indexers need flaresolverr in order to get access 
FLARESOLVERR_URL=

# (optional) how often will indexer stats be scraped
INTERVAL_SCRAPE=7200 # value in seconds
